html {
	font-family: arial;
	padding: 0px;
}
body {
	margin: 0px;
}



.tab {
	display: flex;
}

.tab button {
    display: block;
    background-color: #000000e0;
    color: #fbfbfb;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
	font-size: 1em;
	height: 4em;
}
.tab button:hover {
    background-color: #ddd;
	color: #000;
}
.tab button.active {
    background-color: #4f4f4f;
}

.row_one {
	background-color: #000;
	padding: 0px;
	border-width: 2px 0px !important;
	margin: 0px;
	font-size: 1.2em;
	height: 2em !important;
	border-bottom-color: #acacac !important;
	border-bottom-style: dotted !important;
	border-top-style: ridge !important;
	border-top-color: #ffffff7a !important;
	background-color: #0f0f0fcf !important;
	color: #fbfbfb !important;
}

.row_one td{
	width: 100% !important;
	text-align: center !important;
}

.pricetable, .table {
	display: inline-block;
	width: 100%;
	background-image: url("img/000003.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-blend-mode: color;
	background-color: #000000b3;
	color: #fbfbfb;
}
.pricetable tr {
	width: 100%;
	display: table;
	height: 2em;
}
.pricetable tr:nth-child(odd) {
	background-color: #111111db;
	border-width: 1px 0px;
	border-style: solid;
	border-color: #f4f4f40a;
	/* border-top-width: 1px;border-bottom-width: 1px;border-bottom-style: solid; */
}
.pricetable tr:nth-child(even) {
	background-color: #000000db;
}
.pricetable tr td:nth-child(1) {
	width: 5%;
}
.pricetable tr td:nth-child(2) {
	width: 60%;
}
.pricetable tr td:nth-last-child(1) {
	width: 20%;
	text-align: right;
	padding-right: 5%;
}
.pricetable tr td:nth-last-child(2) {
	width: 15%;
}

.container {
	margin-top: 0%;
	text-align: center;
}

.menu {
	display: flex;
	background-color: #000000c2;
	background-blend-mode: color;
	background-image: url("img/000003.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-blend-mode: color;
	-webkit-perspective: 1px;
	perspective: 1px;
}
#menu_wraper {
	width: 100%;
	display: flex;
	margin-bottom: 5px;
	box-shadow: 0px 0px 4px 4px #000;
	background-blend-mode: color;
	background-color: #111;
	border-bottom: 2px;
	border-bottom-style: dotted;
	border-bottom-color: #FFFFFF52;
}
.menu a{
	display: block;
    width: 100%;
    line-height: 6em;
    height: 100%;
	font-size: 1.2em;
	text-decoration: none !important;
	color: #fff
}
.menu a:hover{
	text-decoration: underline !important;
}

.menu_top {
	position: fixed;
	width: 100%;
	background-color: #0000;
	background-blend-mode: normal;
	background-image: none;
}
.menu_top a{
	line-height: 2em;
}

.about {

}

.t1 {
	background-image: url("img/clifton.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 1px;
}
.t2 {
	background-image: url("img/electrical-engineer.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 1px;
}
.t3 {
	background-image: url("img/electrical-engineering-degree.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 1px;
}
.clients {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
	padding: 0px;
	min-height: 500px;
}
.section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}
.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}
.title {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.contacts {
	background-image: url("img/contact-us-1-1999x1200.jpg");
	/* background-attachment: fixed; */
	/* background-size: cover; */
	/* background-repeat: no-repeat; */
	background-position: center;
	padding: 0px;
}
.footer {
	min-height: 2cm;
}
.call {
	border-width: 1px;
	border-style: solid;
	border-color: #868686;
	display: inline-block;
	min-width: 50%;
	text-align: left;
	background-color: #ffffffde;
	border-radius: 3px;
}
.mail {
	border-width: 1px;
	border-style: solid;
	border-color: #868686;
	display: inline-block;
	min-width: 50%;
	text-align: left;
	background-color: #ffffffde;
	border-radius: 3px;
}
.line_contacts {
	padding: 10px
}
.phone {
	display: inline;
}
.img_button {
	vertical-align: middle;
	height: 48px;
	min-width: 20%;
	object-fit: contain;
}
.about_line {
	width: 100%;
}
.about h1 {
	background-color: #000000b3;
	height: 9em;
	display: inline-block;
	width: 100%;
	background-image: url("img/000003.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-blend-mode: color;
	margin: 0px;
	color: #FDFDFD;
}
.about_line td {
	padding: 0px;
	width: 50%;
	font-size: xx-large;
}
.about_line tr {
	padding: 0px 0px;
	width: 100%;
}
.about_text {
	background-color: #ffffffbf;
}
.img_about {
	vertical-align: middle;
	width: 100%;
}
.button_b {
	color: #0b0b0b;
	text-align: center;
	width: 70%;
	display: inline-block;
	font-size: x-large;
	vertical-align: middle;
	line-height: initial;
}
.hrt_2 {
	background-color: #000000b3;
	height: 10em;
	/* display: inline-block; */
	width: 100%;
	background-image: url("img/000003.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-blend-mode: color;
	text-align: center;
	vertical-align: middle;
	line-height: 10em;
	color: #FFF;
	font-size: xx-large;
	padding: 0px;
}
.hrt_clients {
	background-color: #000000b3;
	height: 16px;
	display: inline-block;
	width: 100%;
	background-image: url("img/000003.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-blend-mode: color;
}
.hrt_contacts {
	background-color: #000000b3;
	display: inline-block;
	width: 100%;
	/* background-image: url("img/contact-us-1-1999x1200.jpg"); */
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-blend-mode: color;
	text-align: center;
	vertical-align: middle;
	line-height: 4em;
	color: #FFF;
	font-size: xx-large;
}